.container {
  max-width: 960px;
  margin: 0 auto;
}
.whiteSpace {
    color: #555;
    font-family: arial;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 50px;
}
/* Parallax sections*/
.content {
  padding: 40px 0;
  text-align: center;
}
.parallax {
  height: 600px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.parallax p{
    font-size: 25px;
    color: white;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    text-align: center;
}
.parallax h1 {
  color: rgba(100, 100, 100, 0.8);
  padding-top: 200px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.parallax p {
    color: rgba(100, 100, 100, 0.8);
}
.parallax-1 {
  background-image: url("sunny fence.jpg");
  height: 600px;
}
.parallax-2 {
  background-image: url("bridge.jpg");
  height: 500px;
}
.parallax-3 {
  background-image: url("grass1.jpg");
  height: 300px;
}
/*Title fade-in effect */
.ease {

    position: relative;
    -webkit-animation: mymove 1s; /* Safari 4.0 - 8.0 */
    animation: mymove 1s;
    animation-timing-function: ease-out;
    animation-delay: 700ms;
    animation-fill-mode: forwards;
}
#title {
    opacity: 0;
}
@keyframes mymove {
    0% {opacity: 0;}
    100% {opacity: 1;}
    from {bottom: -200px;}
    to {bottom: 0px;}
}

/* Fixed Sidebar */
#sidebar { 
  width: 12%; 
  position: fixed; 
  margin-left: 85%;
  margin-top: 10%;
  background: white;
  border-radius: 15px;
  list-style: none;
  text-align: left;
  font-size: 20px;
  font-weight: 900;
  background-color: #11b;
  opacity: .8;
  transition: .3s ease-in-out;
  z-index: 1;
}
#sidebar:hover{
    transform: scale(1.3);
}
.navElement{
    width: 100%;
    transition: .5s ease-in-out;
}
.navElement:hover{
    background-color: #449;
}
ul {
    list-style-type: none;
}


.project {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    border-radius: 20px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border: 1px solid blue;
    
}
/* Project hover effect */
.projectImage  {
        -moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
        -moz-transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out !important;
        width: 200px;
        height: 200px;
}
 .projectImage:hover  {
        -moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3) !important;
}
/* Project description hover effect */
.description {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease-in-out;
}
.description:hover {
    opacity: 1;
}
.skillIcons {
    display: inline;
    width: 100px;
}
.contactLinks {
    margin-bottom: 100px;
}