h1 {
    color: blue;
}
.parallax1 {
    background-image: url("http://wallpaper-gallery.net/images/background-image/background-image-17.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
}
.box1 {
    height: 1000px;
    background-color: blue;
    min-height: 500px;
}
#foo{
}
